.dataset {
    position: relative;
    padding: 7px;
    min-height: 74px;
    box-sizing: content-box;
}

.dataset.even {
    background-color: #f1f1f1;
}

.datasetImage {
    position: absolute;
    left: 7px;
    top: 7px;
    bottom: 0px;
    width: 64px;
    text-align: center;
}

.whiteBackgroundOnThemeImage .datasetImage {
    background: white;
}

.datasetImage img {
    width: 64px;
    max-height: 64px;
    border-width: 0px;
    vertical-align: middle;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.datasetImage i.fa {
    margin-top: 12px;
}

.datasetInfo {
    margin-left: 71px;
    text-align: left;
    clear: none;
    overflow: hidden;
}

.datasetInfo a {
    vertical-align: top;
    display: block;
    margin-bottom: 7px;
}

.datasetInfo .heavylink {
    font-weight: bold;
    color: #000;
}

.datasetInfo span {
    vertical-align: top;
    font-weight: normal;
    line-height: 1;
}

.noDatasets {
    background: #F6F6B3;
    padding: 10px 20px;
}